<div class="row">
        
        <!-- NEW COL START -->
        <article class="col-sm-12 col-md-12 col-lg-6">
  
              <!-- Widget ID (each widget will need unique ID)-->
              <div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                  <!-- widget options:
                  usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
      
                  data-widget-colorbutton="false"
                  data-widget-editbutton="false"
                  data-widget-togglebutton="false"
                  data-widget-deletebutton="false"
                  data-widget-fullscreenbutton="false"
                  data-widget-custombutton="false"
                  data-widget-collapsed="true"
                  data-widget-sortable="false"
      
                  -->
                  <header>
                      <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                      <h2>Auction Actions </h2>
      
                  </header>
      
                  <!-- widget div-->
                  <div>
      
                      <!-- widget edit box -->
                      <div class="jarviswidget-editbox">
                          <!-- This area used as dropdown edit box -->
      
                      </div>
                      <!-- end widget edit box -->
      
                      <!-- widget content -->
                      <div class="widget-body no-padding">
                             
                            <div class="col-md-6 margin-top-10" style="height:150px;">
                                    <div class="col-sm-12">
                                            <label>Boost The Bid</label>
                                            <input type="text" class="slider slider-primary" id="boostBid" value="" 
                                            data-slider-min="2000" 
                                            data-slider-max="5000"  
                                            data-slider-value="2550" 
                                            data-slider-selection = "before"
                                            data-slider-handle="round">
                                            <div class="note">Slide to set your new bidding price.</div>
                                    </div>
                                    
                            </div>
                            <div class="col-md-6">
                                <h3 class="text-right txt-color-green"> 2550.00 <i class="fa fa-long-arrow-up"></i></h3>  
                                <div class="text-right txt-color-teal">UP VALUE: <strong>550.00 <i class="fa fa-long-arrow-up"></i></strong></div> - 
                                <div class="text-right txt-color-blueLight">BASIC VALUE: <strong>2000.00</strong> <i class="fa fa-money"></i></div> 
                                                        
                            </div>
                        
                      
      
                      </div>
                      <!-- end widget content -->
      
                  </div>
                  <!-- end widget div -->
      
              </div>
              <!-- end widget -->
      
          </article>
          <!-- END COL -->

             <!-- NEW COL START -->
        <article class="col-sm-12 col-md-12 col-lg-6">
  
              <!-- Widget ID (each widget will need unique ID)-->
              <div class="jarviswidget" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                  <!-- widget options:
                  usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
      
                  data-widget-colorbutton="false"
                  data-widget-editbutton="false"
                  data-widget-togglebutton="false"
                  data-widget-deletebutton="false"
                  data-widget-fullscreenbutton="false"
                  data-widget-custombutton="false"
                  data-widget-collapsed="true"
                  data-widget-sortable="false"
      
                  -->
                  <header>
                      <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                      <h2>About Player </h2>
      
                  </header>
      
                  <!-- widget div-->
                  <div>
      
                      <!-- widget edit box -->
                      <div class="jarviswidget-editbox">
                          <!-- This area used as dropdown edit box -->
      
                      </div>
                      <!-- end widget edit box -->
      
                      <!-- widget content -->
                      <div class="widget-body no-padding">
                      
                                      <div class="col-md-12 chat-body profile-message" style="height:160px !important">
                                          <ul>
                                              <li class="message">
                                                  <img src="/img/avatars/sunny.png" class="online" alt="sunny">
                                                  <span class="message-text"> <a href="javascript:void(0);" class="username">John Doe </a> Can't divide were divide fish forth fish to. Was can't form the, living life grass darkness very
                                              image let unto fowl isn't in blessed fill life yielding above all moved </span><br><br>
                                              <span id="auctionOuter">Auction Time: <strong id="timer">01:00</strong></span>
                                              </li>
                                          </ul>
                                      </div>                                      
                                     
      
                      </div>
                      <!-- end widget content -->
      
                  </div>
                  <!-- end widget div -->
      
              </div>
              <!-- end widget -->
      
          </article>
          <!-- END COL -->


      <!-- NEW COL START -->
      <article class="col-sm-12 col-md-12 col-lg-12">
                  
          <!-- Widget ID (each widget will need unique ID)-->
          <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
              <!-- widget options:
              usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
  
              data-widget-colorbutton="false"
              data-widget-editbutton="false"
              data-widget-togglebutton="false"
              data-widget-deletebutton="false"
              data-widget-fullscreenbutton="false"
              data-widget-custombutton="false"
              data-widget-collapsed="true"
              data-widget-sortable="false"
  
              -->
              <header>
                  <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                  <h2>List of Bidders </h2>
  
              </header>
  
              <!-- widget div-->
              <div>
  
                  <!-- widget edit box -->
                  <div class="jarviswidget-editbox">
                      <!-- This area used as dropdown edit box -->
  
                  </div>
                  <!-- end widget edit box -->
  
                  <!-- widget content -->
                  <div class="widget-body no-padding">
                          
                          <table id="" class="table table-striped table-bordered table-hover" width="100%">
                                  <thead>			                
                                      <tr>
                                          <th>#####</th>
                                          <th>Team</th>
                                          <th>Manager Name</th>
                                          <th>Manager Email</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <% results.forEach(function(rows){ %>
                                          <tr>
                                              <td>
                                                  <% if(rows.picture){ %>
                                                      <img src="/teams/<%= rows.picture %>" alt="<%= rows.manager_name %>" title="<%= rows.team_name %>" class="superbox-img" style="width: 50px;">
                                                  <% }else{ %>
                                                      <img src="/img/avatars/male.png" alt="<%= rows.manager_name %>" title="<%= rows.team_name %>" class="superbox-img" style="width: 50px;">
                                                  <% } %>
                                              </td>
                                              <td><%= rows.team_name %></td>
                                              <td><%= rows.manager_name %></td>
                                              <td><%= rows.manager_email %></td>
                                              
                                              
                                              
                                          </tr>     
                                      <%});%>                              
                                  </tbody>
                              </table>                
                  </div>
                  <!-- end widget content -->
  
              </div>
              <!-- end widget div -->
  
          </div>
          <!-- end widget -->
  
      </article>
      <!-- END COL -->
  
    
  
          
  </div>
  
  <script type="text/javascript">
    var timeoutHandle;
    function countdown(minutes) {
        var seconds = 60;
        var mins = minutes
        function tick() {
            var counter = document.getElementById("timer");
            var current_minutes = mins-1
            seconds--;
            counter.innerHTML =
            current_minutes.toString() + ":" + (seconds < 10 ? "0" : "") + String(seconds);
            if( seconds > 0 ) {
                timeoutHandle=setTimeout(tick, 1000);
            } else {
                $("#auctionOuter").html('<span class="txt-color-red"><strong>Auction time up</strong></span>');
                $.bigBox({
						title : "Opps!",
						content : "The bidding time has been closed for {playerName}. Maximum bidding price will decide, {playerName} will play in whom team.",
						color : "#D30A03",
						//timeout: 8000,
						icon : "fa fa-bell swing animated",
						number : "1"
                });
                if(mins > 1){
                   // countdown(mins-1);   never reach “00″ issue solved:Contributed by Victor Streithorst
                   setTimeout(function () { countdown(mins - 1); }, 1000);    
                }
            }
        }
        tick();
    }
    countdown(1);
    </script>